* {
    box-sizing: border-box;
  }

  body {
    font-family: fantasy;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../CSS/images/5819872-stony-wall-seamless-background-see-more-seamless-backgrounds-in-my-portfolio-.jpg");
  }
  
  /* general */

  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
   
  }
 
  
  p:last-child {
    margin-bottom: 0;
  }
  
  
  h2,
  h3 {
    font-family: fantasy;
    font-weight: 700;
    color: #4aaaa5;
    margin-bottom: 20px;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #4aaaa5;
    margin-bottom: 20px;  
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 30px;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: black;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: fantasy;
    font-size: 40px;
    font-weight: 700;
    line-height: 90px;
    color: #4aaaa5;
    text-align: center;
    text-decoration: none;
    background: black;
  }

  /* home page */

.content {
    position: absolute;
    width: 930px;
    min-height: 360px;
    height: auto;
    right: 0;
    top: 30%;
 
} 

.home {
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    font-family: fantasy;
    text-transform: uppercase;
}
  
.home h1 {
    font-size: 100px;
    padding-right: 60px;
    border-bottom: 1px solid white;
    line-height: 90px;
}

/* navbar */
.nav {
    top: 20%;
    left: 0;
    width: 350px;
    height: auto;
    position: absolute;
 }

.nav a {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin: 5px 0;
    background-color: #4aaaa5; 
    color: whitesmoke;
    transition: 300ms;
}

.nav a:hover, a.active {
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: black;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
  
  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  /* main */
  
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 0 95px;
    background: black;
    border: 1px solid #ddd;
    
  }
  
  /* portfolio and images page */

  .work {
    position: relative;     
    float: left;
    width: 250px;
    height: 300px;
    margin: 20px 20px 20px 20px;
    overflow: auto;
    justify-content: center;
    display: flex;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }

  .work img {
    width: 100%;
    border: 0 none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.work img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
    
.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    color: #4aaaa5;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  



  

/* need to finish linking, need to get rid of horizontal
  scrolling bar and need to fix image and need to center 
  name when in small size */

@media screen and (max-width: 980px){

    .main-about {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 800px;
        height: 450px;
        margin: 80px 20px 80px 80px;
       
    }

    .main-portfolio {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 800px;
        height: 750px;
        margin: 80px 10px 80px 10px;
       

    }

    .push {
        height: 150px;
    }

    .main-contact {
        background: #ffffff;
        border: 1px solid #dddddd;
        width: 800px;
        padding: 0 20px 0 20px;
        height: 450px;
        margin: 80px 10px 80px 80px;
      
    }
    #name, 
    
    #email,
    
    #message {
        width: 750px;
    }

    
    #message {
        height: 250px;
    }

} 


@media screen and (max-width: 768px) {
  
    .wrapper {
        width: 760px;
        text-align: center;
        margin: 0 auto;
        height: 50px;
        overflow: hidden;
    }
  
    .main-about {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 650px;
        height: 500px;
        margin: 80px 40px;
        
    }
   
    .main-portfolio {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 650px;
        height: 750px;
        margin: 80px 40px;
      

    }
   
    .push {
        height: 80px;
    }
 
    .main-contact {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 650px;
        height: 450px;
        margin: 80px 40px;
       
    }

     
    #name, 
   
    #email,
   
    #message {
        width: 600px;
    }

    
    #message {
        height: 250px;
    }




}




@media screen and (max-width: 640px) {
  
    header {
        position: static;
    }
    .wrapper {
        width: 638px;
        text-align: center;
        margin: 0 auto;
        height: 125px;
        overflow: hidden;
    }
   
    .main-about {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 350px;
        height: 1200px;
        margin: 40px auto 300px auto;
   
    }

    #profile-img { 
        float: none;
        height: 500px;
        width: 300px;
        margin: 20px auto;
        
    }
    .wrapper-2 {
        margin-bottom: 150px;
    }

    #logo { 
        width: 638px;
        display: block;
        
    }

    .mobile-wrap {
        clear: both;
        float: left;
        width: 638px;
        display: block;
        padding: 0 225px 40px 0;
    

    }
    
  
    .main-portfolio {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 350px;
        height: 1750px;
        margin: 40px auto 0 auto;
        

    }

   .img-mobile {
       height: 300px;
       width: 300px;
    
   }

   .text-block {
       width: 300px;

   }

   #portfolio-5 {
       clear: both;
       float: left;
   }

   #push-portfolio-mobile { 
       height: 0;
   }


     .push {
        height: 150px;
    }
  
    .main-contact {
        background: #ffffff;
        border: 1px solid #dddddd;
        padding: 0 20px 0 20px;
        width: 350px;
        height: 450px;
        margin: 40px auto 300px auto;
        
    }

     
    #name, 
    
    #email,
    
    #message {
        width: 300px;
    }

    
    #message {
        height: 250px;
    }

}
